#root {
    @import url('./variable.scss');
    @import url('./mixins.scss');

    background-color: #f4f7fe;
    .container {
        width: 100%;
        max-width: 1680px;
        padding: 0 #{32px / 2};
        margin: auto;
    }
      
    .container-fluid {
      max-width: 100%;
      padding: 0 #{32px / 2};
    
    }

    .section-1 {
        background: linear-gradient(90deg, rgba(7,212,223,1) 0%, rgba(96,135,234,1) 40%, rgba(235,14,252,1) 100%);
        position: relative;
        width: 100%;
        height: 80vh;

        .box {
            background-color: #111111;
            position: absolute;
            width: calc(100%);
            top: -589px;
            left: 0%;
            height: 90vh;
            transform: rotate(-16deg);
            align-items: flex-end;
            border: 20px solid white;
            border-radius: 25px;
            color: white;
            display: flex;

            @media only screen and (max-width: 960px) {
                position: relative;
                transform: rotate(0);
                border-radius: 0;
                display: flex;
                justify-content: center;
                border: 0;
                border-bottom: 20px solid white;
                padding-top: 300px;
            }

            .wrapper {
                @media only screen and (max-width: 960px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .tanggal {
                    transform: rotate(90deg);
                    color: #00FF00;
                    position: absolute;
                    left: -80px;
                    bottom: 254px;
                    font-size: 20px;
                    font-weight: 100;
    
                    @media only screen and (max-width: 960px) {
                        position: relative;
                        transform: rotate(0);
                        left: 0;
                        bottom: 0;
                        order: 2;
                        margin-bottom: 30px;
                    }
                }
    
    
                .kiri {
                    color: #00FF00;
                    font-size: 46px;
                    margin-left: 90px;
                    @media only screen and (max-width: 960px) {
                        position: relative;
                        margin-left: 0;;
                        order: 1;
                    }
                }
            }

        }
    }

    .component-2 {
        width: 100%;
        background-color: white;
        padding: 10px;

        h1 {
            display: flex;
            justify-content: center;
        }

        .table {
            .tableWrapper {
                width: 100%;

                .table-header,
                .table-footer {
                    display: flex;
                    color: white;
                    background-color: #111111;
                    padding: 10px;
                }

                .table-footer {
                    justify-content: flex-end;
                }

                .table-header {
                    justify-content: space-evenly;

                    .table-product,
                    .table-quantity,
                    .table-subtotal {
                        font-weight: 600;
                    }

                    .table-product {
                        width: 60%;
                        display: flex;
                        justify-content: center;
                    }

                }

                .card {
                    display: flex;
                    padding: 20px;
                    border-bottom: 1px solid rgb(93, 93, 93);
                    .card-img {
                        
                        .car {
                            width: 30%;
                            box-shadow: -1px -2px 5px -1px rgba(0,0,0,0.75);
                        }
                    }

                    &-description {
                        display: flex;
                        flex-direction: column;
                        width: 45%;
                        .id {
                            color: #00DBDE;
                            margin-bottom: 10px;
                        }

                        .name {
                            font-size: 20px;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }

                        .price {
                            color: #b2adad;
                        }

                        .stock {
                            color: red;
                        }
                    }
                }

                .quantity {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input {
                        width: 30%;
                    }
                }

                .subtotal {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #b2adad;
                }

            }
        }
    }
        
}