// Fonts
$base: 16;

$font-12: 12px;
$font-16: 16px;
$font-24: 24px;
$font-32: 32px;


$color-blue : #00DBDE;
$color-pink : #FC00FF;
$color-black : #111111;
$color-grey : #EEEEEE;
$color-green : #00FF00;

$breakpoints: (
  'sm': 960px,
);